/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#main {
    width: 100% !important;
}

td.last a {
    padding: 4px 8px;
    margin-left: 2px;
    display: inline-block;
    background-color: #333333;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;

}

td.last a:hover {
    background-color: #666666;
    color: #ffffff;
}

#main-navigation li.first {
    margin-left: 0px !important;
}

#main-navigation li {
    padding-right: 15px !important;
}

.logout:hover{
    background-color: #FF3333 !important;
}

.logout {
    font-weight: bold;
}


#main-navigation li:hover {
    background-color: #666666;
}

#main-navigation ul li.active a {
  padding: 8px 15px !important;
  margin: 0px !important;
}

#main-navigation ul li.active {
  margin: 0px !important;
  padding: 0px !important;

}